<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_date_time_GMT %><br />
    <%= f.datetime_select :event_date_time_GMT %>
  </div>
  <div class="field">
    <%= f.label :game_number %><br />
    <%= f.number_field :game_number %>
  </div>
  <div class="field">
    <%= f.label :sport_type %><br />
    <%= f.text_field :sport_type %>
  </div>
  <div class="field">
    <%= f.label :leage %><br />
    <%= f.text_field :leage %>
  </div>
  <div class="field">
    <%= f.label :is_live %><br />
    <%= f.check_box :is_live %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
